[Unit]
Description=Load virtualbox modules for specific kernels.
#After=multi-user.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "if ! [[ `uname -r` =~ \"grsec\" ]]; then /bin/modprobe vboxdrv vboxpci vboxnetadp vboxnetflt; fi"
ExecStop=/bin/bash -c "if ! [[ `uname -r` =~ \"grsec\" ]]; then /bin/modprobe -r vboxdrv vboxpci vboxnetadp vboxnetflt; fi"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
